/*general rules*/
li{
    list-style: none;
}
body{ 
    overflow-x: hidden;
    font-family:"raleway", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{

    margin-left: 4%;
    margin-right: 4%;
}
section{
    margin-left: 4%;
    margin-right: 4%;  
}
/*header start*/

.box_1{
    display: flex;
    align-items: flex-start;
    
}

.box_1 > * {
    flex: 1 1 auto;
}

head p {
white-space: nowrap;    
}

.logo{
    width: 7em;
    height: 3em;   
}
.menu{
   
    margin-left: 10%;
}

header ul {
   height: 3em;
   display:flex;
   flex-direction: row;
   align-items: center;
   justify-content: flex-end;
   
   
}


.lien1{
    text-decoration: none;
    color: black ;
    font-family: "raleway Extralight";
    font-size: 0.8em;
    border-top: 3px solid transparent;
    
   

}

.lien2{
    text-decoration: none;
    color: black ;
    font-family: "raleway Extralight";
    font-size: 0.8em;
  

}

/*modifier survol!!!*/
.barre a:hover{
    border-top: 3px solid #0065FC;
    color: #0065FC;
    padding-top: 40px;
}


.lien3{

    text-decoration: none;
    color:#0065FC ;
    font-weight: bold;
    font-size: 0.8em;

}




.head_titre{
    font-size: 1.3em;
    margin-bottom: 0.5em;
    
}
.head_soustitre{
    font-family: "Raleway Light";
    font-size: 0.8em ;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}


.map{
    display:inline;
    font-size: 0.9em;
    background: #f2f2f2;
    border: 1px solid #f2f2f2;
    padding: 0.95em;
    border-radius: 10px 0 0 10px;
    
}

#rechercher{
    display:inline;
    font-size: 0.9em;
    border: 2px solid #f2f2f2;
    padding: 0.9em;
    width: auto;
    
}

.bouton{
    display: inline;
    color: white;
    font-size: 0.9em;
    background:#0065FC;
    padding: 0.9em;
    border-radius: 0 10px 10px 0;
    border: 2px solid #0065FC ;

}
/*filtres*/

.box_3{
    display: flex;
    flex-direction: row; 
}

.box_1 > * {
    flex: 1 1 auto;
}

.box_3 h3{
    font-size: 1em;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    
}

.fa-money{
    position: relative;
    z-index: 2;
    left: 19px;
    background-color: #deebff;
    color: #0065FC;
    padding: 0.99em;
    font-size: 16px;
    border-radius: 50% ;
    
}
.bouton_1{
    z-index: 1;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 0.95em;
    border-radius: 0px 20px 20px 0px;
    background-color: white;
    padding:0.85em ;
    padding-left: 1.5em;
    border: 2.5px solid #f2f2f2;
    text-align: right;
   

}



.bouton_2{
    z-index: 1;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 0.95em;
    border-radius: 0px 20px 20px 0px;
    background-color: white;
    padding:0.85em ;
    padding-left: 1.5em;
    border: 2.5px solid #f2f2f2;
    text-align: right;
   
}

.fa-child{
    position: relative;
    z-index: 2;
    left: 19px;
    background-color: #deebff;
    color: #0065FC;
    padding: 0.99em;
    font-size: 16px;
    border-radius: 50% ;

}

.bouton_3{
    z-index: 1;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 0.95em;
    border-radius: 0px 20px 20px 0px;
    background-color: white;
    padding:0.85em ;
    padding-left: 1.5em;
    border: 2.5px solid #f2f2f2;
    text-align: right;
}

.fa-heart{
    position: relative;
    z-index: 2;
    left: 19px;
    background-color: #deebff;
    color: #0065FC;
    padding: 0.99em;
    font-size: 16px;
    border-radius: 50% ;
}
 .bouton_4{
    z-index: 1;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 0.95em;
    border-radius: 0px 20px 20px 0px;
    background-color: white;
    padding:0.85em ;
    padding-left: 1.5em;
    border: 2.5px solid #f2f2f2;
    text-align: right;  
 }

 .fa-paw{
    position: relative;
    z-index: 2;
    left: 19px;
    background-color: #deebff;
    color: #0065FC;
    padding: 0.99em;
    font-size: 16px;
    border-radius: 50% ; 
 }

 .box_4{
    display: flex;
    width: 100%;
    
 }
.fa-info{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    font-size: 1em;
    color: #0065FC;
    
    
}

.info {
    width: 30px;
    height: 30px;
    border: 1px solid #f2f2f2;
    border-radius: 50%;
    
}
 
.texte_info{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75em;
    font-family: "Raleway Light";
    margin-left: 10px;

 }

/*header end*/


/*corps start*/

.hebergement{
    width: 100%;
    display: flex;
    flex-direction: row;
}
/*main start*/
#main h2{
    width: 100%;
    font-size: 1.3em;
    margin-bottom: 0.9em;
    margin-top: 0.9em;
    margin-left: 2%;
}

#main {
    height: 50%;
    width:60% ;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #f2f2f2;
    border-radius: 3%;
    margin-right: 2%;
}

.card{
    background-color: white;
    padding: 1%;
    border-radius: 4%;
    margin: 2%;
  
}

.img_main{
    width: 225px;
    height: 112px;
    object-fit: cover;
}

.titre_card{
    font-size: 0.85em;
    margin-bottom: 0.2em;
    margin-top: 0.5em;
    margin-left: 0.8em;
}
#main p{
    margin-bottom: 0.2em;
    margin-top: 0.02em;
    margin-left: 0.8em;
}
.soustitre_card{
    font-size: 0.85em;
    font-family: "Raleway ExtraLight";
}

.prix_card{
    font-size: 0.85em;
    font-weight: bold; 
}

.star_1{
    margin-left: 0.8em;
    color: #0065FC;
}

.star_b{
    color: #0065FC; 
}

.star_g{
    color: #f2f2f2;
}

.fa-star{
    
    font-size: 1em;
}

.end_main{
    width: 100%;
    font-size: 1em;
    font-weight: bold;
    margin:5%;
}
/*main end*/

/*aside start*/
aside{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f2f2f2;
    border-radius: 4%;
    padding-left: 2%;
    padding-right: 2%;
    
    

}

.card_aside{
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 1%;
    border-radius: 4%;
    margin: 3%;
}

.card_aside > * {
    flex: 1 1 auto;
}

aside h2{
    font-size: 1.3em;
    margin-bottom: 0.9em;
    
}


.fa-line-chart{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 1em;
    
}
    

.aside_titre{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

aside p{
    margin-bottom: 2.2em;
    margin-top: 0.2em;
   
}

.aside_titre > * {
    flex: 1 1 auto;
}

.img_aside{
    width: 120px;
    height: 130px;
    object-fit: cover;
}

.descript_card_aside{
    margin-left: 0.8em;
    margin-top: 0.02em;
   
   
}

.titre_card_aside{
    font-size: 0.85em;
    margin-bottom: 0.2em;
    margin-top: 0.2em;


}

.soustitre_card_aside{
    font-size: 0.85em;
    font-family: "Raleway ExtraLight";

}


/*aside end*/

/*section 2 start*/
#activité{
    margin-top: 2em;
    margin-bottom: 2em;
    height: 30%;

}

#activité h2{
    width: 100%;
    font-size: 1.3em;
    margin-bottom: 0.9em;
    margin-left: 2%;
}

#picture_zone_activ{
    display: flex;
    
}

#activité p{
    font-size: 0.85em;
    margin-bottom: 0.2em;
    margin-top: 0.5em;
    margin-left: 0.8em;
   font-weight: bold;
}


.card_activ{
    
    background-color: white;
    border-radius: 4%;
    box-shadow: 1px 1px 5px rgb(0,0,0) ; 
   
}

#group_1_activ{
    display: flex;
    
    
}

#group_1_activ > * {
    flex: 1 1 auto;
    
}

#group_2_activ{
    display: flex;
}



#group_2_activ > * {
    flex: 1 1 auto;
    
}

.img_L_activ{
    object-fit: cover;
    width: 100%; 
    height: 10em;
    border-radius: 4% 4%  0 0 ; 
    
}

.img_S_activ{
    object-fit: cover;
    width: 100%; 
    height: 5em;
    border-radius: 4% 4%  0 0 ;
    margin-bottom: 1em;
}


/*section 2 end*/

/*corps end*/

/*footer start*/
 
footer{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 15%;
    background-color: #f2f2f2;
    font-size: 0.85em;
       
}



footer ul{
  
    
}

footer li{
    white-space: nowrap;
    font-family:'Raleway ExtraLight';
   
}
/*footer end*/

img{
    border-radius: 4%;
}

/*police*/
@font-face {
    font-family: 'Raleway Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway Regular'), url("police/'Raleway-Regular.woff") format('woff');
    }
    
    
    @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway'), url("police/'Raleway-Regular.woff") format('woff');
    }
    
    
    @font-face {
    font-family: 'Raleway Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway Italic'), url('police/Raleway-Italic.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Raleway Thin';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway Thin'), url('police/Raleway-Thin.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Raleway Thin Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway Thin Italic'), url('police/Raleway-ThinItalic.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Raleway ExtraLight';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway ExtraLight'), url('police/Raleway-ExtraLight.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Raleway ExtraLight Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway ExtraLight Italic'), url('police/Raleway-ExtraLightItalic.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Raleway Light';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway Light'), url('police/Raleway-Light.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Raleway Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway Light Italic'), url('police/Raleway-LightItalic.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Raleway Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway Medium'), url('police/Raleway-Medium.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Raleway Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway Medium Italic'), url('police/Raleway-MediumItalic.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Raleway SemiBold';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway SemiBold'), url('police/Raleway-SemiBold.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Raleway SemiBold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway SemiBold Italic'), url('police/Raleway-SemiBoldItalic.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Raleway Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway Bold'), url('police/Raleway-Bold.woff') format('woff');
    }
    
    
    
    @font-face {
    font-family: 'Raleway Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway Bold Italic'), url('police/Raleway-BoldItalic.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Raleway ExtraBold';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway ExtraBold'), url('police/Raleway-ExtraBold.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Raleway ExtraBold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway ExtraBold Italic'), url('police/Raleway-ExtraBoldItalic.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Raleway Black';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway Black'), url('police/Raleway-Black.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Raleway Black Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway Black Italic'), url('police/Raleway-BlackItalic.woff') format('woff');
    }
