/*police*/
@font-face {
    font-family: 'Raleway Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway Regular'), url("police/'Raleway-Regular.woff") format('woff');
    }
    
    
    @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway'), url("police/'Raleway-Regular.woff") format('woff');
    }
    
    @font-face {
    font-family: 'Raleway ExtraLight';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway ExtraLight'), url('police/Raleway-ExtraLight.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Raleway Light';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway Light'), url('police/Raleway-Light.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Raleway SemiBold';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway SemiBold'), url('police/Raleway-SemiBold.woff') format('woff');
    }
    
    @font-face {
    font-family: 'Raleway Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway Bold'), url('police/Raleway-Bold.woff') format('woff');
    }
    
/*general rules*/
li{
    list-style: none;
}


body{ 
    font-family:"raleway", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow-x: hidden;  
    margin: 0;
}

header {
    width: 92%;
    margin-left: 4% ;
    margin-right: 4% ;
   
}

section{
    width: 92%;
    margin-left: 4% ;
    margin-right: 4% ;

}


/*header start*/



#head_bloc_1 {
    display: flex;
    justify-content: space-between;
    height: 24%;
}

#head_bloc_1 > ul {
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 100%;
}

#head_bloc_1 > ul > li{
    font-size: 0.9em;
    
}

.lien_black{
    text-decoration: none;
    color: black ;
    margin-right: 100px;
    font-family: "raleway Extralight";
}

.lien_bleu{
    text-decoration: none;
    color:#0065FC ;
    font-weight: bold;
}


#head_bloc_1 a{

    border-top: 2px solid transparent;
    padding-top: 20px;
}


#head_bloc_1 a:hover{

    color: #0065FC;
    border-top: 3px solid #0065FC;
}


#head_bloc_2 {
    height: 31%;
}

.head_titre{
    font-size: 1em;
    margin-bottom: 0.5em;
    
}
.head_soustitre{
    font-family: "Raleway Light";
    font-size: 0.8em ;
    margin-bottom: 0.7em;
    margin-top: 0.5em;
}


.map{
    display:inline;
    font-size: 0.9em;
    background: #f2f2f2;
    
    padding: 0.8em;
    border-radius: 10px 0 0 10px;
    
}

#rechercher{
    display:inline;
    font-size: 0.8em;
    border: 2px solid #f2f2f2;
    padding: 0.8em;
    
    
}

.bouton{
    display: inline;
    color: white;
    font-size: 0.8em;
    background:#0065FC;
    padding: 0.8em;
    border-radius: 0 10px 10px 0;
    border: 2px solid #0065FC ;

}

.fa-search{
    color: transparent;
    font-size: 1px;
}
/*filtres*/


#head_bloc_3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 34%;
}


#head_bloc_3 h3{
    font-size: 1em;
    margin-right: 30px;  
}



.fa-circle {
    color: #deebff;
    font-size: 3.5em;
}


.fa-money{
    color: #0065FC;
    padding:0.5em ;
    font-size: 1.1em;
    text-align: center;
  
  
}
.bouton_1{
    text-transform: capitalize;
    font-family:'Raleway Bold' ;
    font-size: 0.8em;
    border-radius: 0px 20px 20px 0px;
    background-color: white;
    padding:0.8em ;
    padding-left: 1.5em;
    border: 2.5px solid #f2f2f2;
    text-align: right;
    margin-right: 70px;

}


.bouton_2{
    text-transform: capitalize;
    font-family:'Raleway Bold' ;
    font-size: 0.8em;
    border-radius: 0px 20px 20px 0px;
    background-color: white;
    padding:0.8em ;
    padding-left: 1.5em;
    border: 2.5px solid #f2f2f2;
    text-align: right;
    margin-right: 70px;
}

.fa-child{
    color: #0065FC;
    padding:0.5em ;
    font-size: 1.1em;
    text-align: center;
}

.bouton_3{
    text-transform: capitalize;
    font-family:'Raleway Bold' ;
    font-size: 0.8em;
    border-radius: 0px 20px 20px 0px;
    background-color: white;
    padding:0.8em ;
    padding-left: 1.5em;
    border: 2.5px solid #f2f2f2;
    text-align: right;
    margin-right: 70px;
}

.fa-heart{
    color: #0065FC;
    padding:0.46em ;
    font-size: 1.1em;
    text-align: center;
    

}
 .bouton_4{
    text-transform: capitalize;
    font-family:'Raleway Bold' ;
    font-size: 0.8em;
    border-radius: 0px 20px 20px 0px;
    background-color: white;
    padding:0.8em ;
    padding-left: 1.5em;
    border: 2.5px solid #f2f2f2;
    text-align: right; 
    margin-right: 70px;
 }

 .fa-paw{
    color: #0065FC;
    padding:0.5em ;
    font-size: 1.1em;
    text-align: center;
 }

 #head_bloc_4 {
    height: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.9em;
}

.info_text{
    font-size: 0.8em ;
    font-family:"raleway Extralight" ;
    margin-left: 5px;
}

.fa-info{
color: #0065FC;   
}

.fa-circle-thin {
    color: #f2f2f2; 
}

.fa-stack{
    font-size: 0.9em;
}


/*header end*/

/*corps start*/


/*main start*/

#hebergement{
display: flex;
justify-content: space-between;

}

#main h2{
    height: 1.3em;
    width: 100%;
    font-size: 1.3em;
    margin-bottom: 0.2em;
    margin-top: 0.9em;
    margin-left: 2%;
}

#main {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    background-color: #f2f2f2;
    border-radius: 3%;
   
}

.card{
    width:25%;
    background-color: white;
    border: 4px solid white;
    border-radius: 4%;
  
}

.img_main{
    width:100%;
    height: 7em;
    object-fit: cover;
    border-radius: 4% 4% 0 0;
}

.titre_card{
    font-size: 0.85em;
    margin-bottom: 0.2em;
    margin-top: 0.5em;
    margin-left: 0.8em;
}
#main p{
    margin-bottom: 0.4em;
    margin-top: 0.02em;
    margin-left: 0.8em;
}
.soustitre_card{
    font-size: 0.85em;
    font-family: "Raleway ExtraLight";
}

.prix_card{
    font-size: 0.85em;
    font-weight: bold; 
}

.star_1{
    margin-left: 0.8em;
    color: #0065FC;
}

.star_b{
    color: #0065FC; 
}

.star_g{
    color: #f2f2f2;
}

.fa-star{
    
    font-size: 1em;
}

.end_main{
    width: 100%;
    font-size: 1em;
    font-weight: bold;
    padding-left:2% ;
}
/*main end*/

/*aside start*/

.aside{
    width: 25%;
    background-color: #f2f2f2;
    border-radius: 4%;
}


aside h2{
    font-size: 1.3em;   
}


.fa-line-chart{
    font-weight: bold;
    font-size: 1.3em;
}
    

.aside_titre{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 0.9em;
    margin-right: 1em;
}


.card_aside{
    width: 85%;
    height: 30%;
    display:flex;
    background-color: white;
    border: 4px solid white;
    border-radius: 4%;
    margin: 1.5em;
}


.img_aside{
    width: 8em;
    height: 9em;
    object-fit: cover;
    border-radius: 4% 0 0 4%;
}

.descript_card_aside{
    height: 9em;
    margin-left: 0.8em;
   
}

.titre_card_aside{
    font-size: 0.85em;
    margin-bottom: 0.2em;
    margin-top: 0.2em;
}

.soustitre_card_aside{
    font-size: 0.85em;
    font-family: "Raleway ExtraLight";
}

.space_star{
    margin-bottom: 3em;
}

/*aside end*/

/*section 2 start*/

#activité{
    width: 96%;
    margin-top: 1%;
}

#activité h2{
    font-size: 1.3em;
}

#picture_zone_activ{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.column_activ_S{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.column_activ_L{
    width: 25%;
    display: flex;
    align-items: center;
}

#activité p{
    padding-left: 10px;
    font-size: 0.85em;
    font-weight: bold;
}


.card_activ{
    width: 80%;
    background-color: white;
    border-radius: 4%;
    box-shadow: 1px 1px 3px rgba(17, 17, 17, 0.678) ; 
}

.card_activ_S{
    width: 80%;
    height: 45%;
    background-color: white;
    border-radius: 4%;
    box-shadow: 1px 1px 3px rgba(17, 17, 17, 0.678) ; 
}


.img_L_activ{
    width: 100%;
    height: 25em;
    object-fit: cover;
    border-radius: 4% 4%  0 0 ;    
}

.img_S_activ{
    width: 100%;
    height: 10em;
    object-fit: cover;
    border-radius: 4% 4%  0 0 ;
}


/*section 2 end*/

/*corps end*/

/*footer start*/

footer{
    width: 100%;
    background-color: #f2f2f2;
    }

#pied_page {
margin-top: 2%;
display:flex;

 }

 #pied_page :first-child {
    padding-left: 3%;
 } 


.titre_footer{
    font-family: 'Raleway SemiBold';
}

footer ul {
    margin-right:150px;
}


footer li{
    font-family:'Raleway light';
    font-size: 0.85em;
    padding: 0.5em;
   
}
/*footer end*/

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (orientation: portrait) { 

    body{
        width: 100%;

    }

    header {
        width: 100%;
        margin-left: 1em ;
        margin-right: 1em;
       
    }
    
    section{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    
    }
    
    #head_bloc_1 {
        display: flex;
        flex-wrap: wrap;
        
    }
    
    .logo_petite{
        order: 1;
        width: 50%;
        margin-bottom: 0; 
        font-size: 3em;
        margin-top: 0;
    }

    #head_bloc_1 img {
        height: 3em;

    }


    
    #head_bloc_1 > ul {
        order: 3;
        text-align: center;
    
    
    }

    
    .lien_b_petite {
        order: 2;
        text-align: right;
        font-size: 3em;
        margin-bottom: 0;
        
    }
    
    
    #head_bloc_1 li a{
        display: block;
        width: 530px;
        margin: 0;
        font-size: 3em;
        padding-bottom: 2em;
        border-top: 3px solid transparent;
        border-bottom: 3px solid #f2f2f2;
        
    }
    
    #head_bloc_1 li a:active{
        color: #0065FC ;
        border-top: 3px solid transparent;
        border-bottom: 3px solid #0065fc;
       
    }

   

    .head_titre{
        font-size: 4em;
        text-align: justify;
    }

     .head_soustitre {
        font-size: 3em;
    }


.map{
    
    font-size: 3em;
    padding: 1em;
}

#rechercher{
    display:inline;
    font-size: 3em;
    border: 2px solid #f2f2f2;
    padding: 1em;
}

.bouton{
    display: inline;
    background:#0065FC;
    font-size: 3em;
    padding: 1em;
    ;
    
}

.fa-search{
    color: white;
    font-size: 1em;
    border-radius:15%;
    border: 2px solid #0065FC ;
} 


.search_petite{
    display: none;
}
    
    #head_bloc_3{
        display: flex;
        flex-wrap: wrap;
    }
    
    #head_bloc_3 h3 {
        font-size: 3em;
        width: 100%;
    }

    #head_bloc_3 p {
        font-size: 3em;
    }

    #head_bloc_4 {
        font-size: 2.5em;
    }
    
    
    #hebergement{
        display: flex;
        flex-direction: column-reverse;
    }

    #main{
        background-color: white;
        width: 100%;
        display:flex;
        flex-direction: column;
      
        
    }
    

    .aside{
        width: 100%;
        margin-bottom: 50px;
        border-radius: 0;
        background-repeat: repeat-x;
    }

    .card_aside {
        border: 10px solid white;
    }
    .aside_titre{
        font-size: 2.5em;
    }

    .picture_zone_aside {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

   
 .img_aside {
     width: 22em;
     height: 22em;
 }
    
    .titre_card_aside{
        font-size: 2.5em;
        margin-bottom: 0.2em;
        margin-top: 0.2em;
    }
    
    
    .soustitre_card_aside{
        font-size: 2em;
        font-family: "Raleway ExtraLight";
    
    }

    .space_star{
        margin-bottom: 9em;
    }

    .descript_card_aside{
        margin-left: 1.5em;
    }
    

    .prix_card{
        font-size: 2em;
        font-weight: bold; 
    }
    
    .star_1{
        margin-left: 2em;
        color: #0065FC;
    }
    
    .star_b{
        color: #0065FC; 
    }
    
    .star_g{
        color: #f2f2f2;
    }
    
    .fa-star{
        
        font-size: 2.5em;
    }

    #main h2 {
        font-size: 3.5em;
        margin-bottom: 50px;
    }

    .img_main{
        height: 18em;
        object-fit: cover;
        border-radius: 4% 4% 0 0;
    }
    
    .titre_card{
        font-size: 2.5em;
        margin-bottom: 0.2em;
        margin-top: 0.5em;
        margin-left: 0.8em;
    }
    #main p{
        margin-bottom: 1em;
        margin-top: 1em;
        margin-left: 0.8em;
    }
    .soustitre_card{
        font-size: 2em;
        margin-left: 0.8em;
        font-family: "Raleway ExtraLight";
    
    }
    
    .card {
        width: 85%;
        margin-bottom: 80px;
        margin-left: 70px;
        padding-bottom: 20px;
        border-radius: 4%;
        border: 10px solid white;
        box-shadow: 1px 1px 3px rgba(17, 17, 17, 0.678)

    }

    #picture_zone_activ {
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    #activité h2 {
        font-size: 3.5em;
        margin-left: 1em;
    }

    .column_activ_S{
        width: 100%;
        align-content: center;
    }
    
    .column_activ_L{
        width: 100%;
        align-content: center;
    }
    
    #activité p{
        padding-left: 10px;
        font-size: 0.85em;
        font-weight: bold;
    }
    
    
    .card_activ{
        width: 85%;
        margin-bottom: 80px;
        margin-left: 70px;
        padding-bottom: 20px;
        border-radius: 4%;
        box-shadow: 1px 1px 3px rgba(17, 17, 17, 0.678)
      
    }
    
    .card_activ_S{
        width: 85%;
        margin-bottom: 80px;
        margin-left: 70px;
        padding-bottom: 20px;
        border-radius: 4%;
        box-shadow: 1px 1px 3px rgba(17, 17, 17, 0.678)
    }

    #activité img {
        height: 22em;
    }

    #activité p {
        font-size: 2.5em;
    }

    
    footer{
        width: 100%;
        background-color: #f2f2f2;
        }
    
    #pied_page {
    margin-top: 2%;
    display:flex;
    flex-direction: column;
     }
    
     #pied_page :first-child {
        margin-top: 50px;
        padding-left: 0;
     } 
    
    
    .titre_footer{
        font-family: 'Raleway SemiBold';
    }
    
    footer ul {
        margin-right:0;
        margin-left: 75px;
        margin-bottom: 75px;
    }
    
    
    footer li{
        font-family:'Raleway light';
        font-size: 1.5em;
        padding: 1em;
       
    }

     


   



}



