body{
    height: 100%;
    display: grid;
    grid-template-rows: 3fr 5fr 4fr 2fr;
    gap: 40px;
}

header{

    margin-left: 4%;
    margin-right: 4%;
}
li{
    list-style: none;
}

section{
    margin-left: 4%;
    margin-right: 4%;  
}



footer{
    background-color: turquoise;
}

.grid1{
    display: grid;
    grid-template-columns: 70% 20%;
    gap: 10px;
    background-color: thistle;

}
 